body {
    background-color: rgb(246, 255, 255);
}
nav{
    padding: 20px;
    text-align: end;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#blog-topo {
    text-align: center;
}
span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    padding: 20px;
}
#mypic {
    border-radius: 50%;
}
